body {
    font-family: 'namefontlight',Helvetica,arial,Tahoma,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
div {
    display: block;
}
p {
    margin-bottom: 0;
    font-size: 16px;
}
.wrapper {
    border-bottom: 1px solid black;
    background-color: #ffffff;
    height: 59px;
    line-height: 59px;
    position: fixed;
    opacity: 0.95;
    width: 100%;
    z-index: 999;
    
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.my-container {
    
    width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.flex { 
    display: flex;
}
ul {
    list-style: none;
}
.menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
    float: right!important;
}
.menu ul li {
   
    list-style: none;
    float: left;
    font-size: 14px;
    margin: 0 0 0 30px;
    padding: 0 0 5px 0;
    
}
.menu ul li a {
    text-decoration: none;
    color: #000000;
    padding-bottom: 5px;
}
.menu ul li a:hover {
    text-decoration: none;
    color: #008fe5;border-bottom: 1px solid #008fe5;
}
.banner {
    height: 100%;
    background: url(https://static.zalopay.com.vn/stc/quydinh/ver200723/images/bghome.jpg) no-repeat bottom; 
    
}
.marg-top {
    margin-top: 9%;
}
.dlw {
    padding-left: 13%;
}
.padding20 {
    padding: 70px 0 40px 0;
}
.salient-features {
    height: 100%;
    background: url(https://static.zalopay.com.vn/stc/quydinh/ver200723/images/bgp3.jpg) 50% 50%;
    background-size: cover;
}
.inline {
    display: inline-block;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes bounceInLeft {
    0% {
       opacity: 0;
       transform: translateX(-2000px);
    }
    60% {
       opacity: 1;
       transform: translateX(30px);
    }
    80% {
       transform: translateX(-10px);
    }
    100% {
       transform: translateX(0);
    }
 }
.bounceInLeft {
    animation-name: bounceInLeft;
}
@keyframes bounceInRight {
    0% {
       opacity: 0;
       transform: translateX(2000px);
    }
    60% {
       opacity: 1;
       transform: translateX(-30px);
    }
    80% {
       transform: translateX(10px);
    }
    100% {
       transform: translateX(0);
    }
 }
.bounceInRight {
    animation-name: bounceInRight;
}
@keyframes slideInLeft {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .slideInLeft {
      animation-name: slideInLeft;
  }
  @keyframes slideInRight {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .slideInRight {
    animation-name: slideInRight;
  }
  @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
.fadeInDown {
    animation-name: fadeInDown;
}
.bx {
    position: relative;
    width: 50%;
    display: block;
    min-height: 400px;
    float: left;
}
.number, .number_r {
    width: 68px;
    height: 68px;
    text-align: center;
    vertical-align: middle;
    float: left;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15), 0 0 0 0 rgba(255, 255, 255, 0.3);
    transition: all .3s;
}
.number:hover, .number_r:hover {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15), 0 0 0 40px rgba(255, 255, 255, 0);
}
.number_r {
    right: 45px;
}
.spnumber, .spnumber_r {
    color: #04be04;
    font-size: 40px;
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    display: block;
}
.spnumber_r {

}
.feature, .feature_r {
    padding: 10px 40px 10px 85px;
    max-width: 370px;
    min-width: 335px;
    height: 68px;
    background: #008fe5;
    border-radius: 40px;
    font-size: 15px;
    color: #ffffff;
    line-height: 50px;
    float: left;
}
.feature_r {
    padding: 10px 85px 10px 40px;
    text-align: right;
    float: left;
}
.bx_icol1 {
    right: 36px;
    top: -60px;
}
.bx_icol2 {
    right: 130px;
    top: 58px;
}
.bx_icol3 {
    right: 130px;
    top: 174px;
}
.bx_icol4 {
    right: 36px;
    top: 297px;
}
.bx_icol5 {
    left: 70px;
    top: -60px;
}
.bx_icol6 {
    left: 172px;
    top: 58px;
}
.bx_icol7 {
    left: 172px;
    top: 174px;
}
.bx_icol8 {
    left: 70px;
    top: 297px;
}
.bx_icol1, .bx_icol2, .bx_icol3, .bx_icol4, .bx_icol5, .bx_icol6, .bx_icol7, .bx_icol8 {
    width: 380px;
    position: absolute;
}
.image-center {
    background: url(https://static.zalopay.com.vn/stc/quydinh/ver200723/images/zalocirle.png) no-repeat;
    width: 359px;
    height: 311px;
    margin: 0 auto 0;
}
h2{
    text-transform: uppercase;
    text-align: center;
    color: #008fe5;
    margin-top: 20px;
    margin-bottom: 25px;
}
.col-md-8 p {
    margin-bottom: 12px!important;
}
h4 {
    text-transform: uppercase;
    margin-top: 40px!important;
    margin-bottom: 15px!important;
    color: #24272b!important;
    font-size: 20px!important;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none!important;
}
.titsmll {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 41px;
    font-family: 'namefontbold', sans-serif;
    padding-left: 20px;
}
.titgth {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 36px;
    color: #008fe5;
}
.bxtitgth {
    margin-bottom: 30px;
}
.fixw {
    width: 60%;
    margin: 0 auto 50px auto;
    font-size: 16px;
    text-align: center;
}
.width37 {
    width: 37%;
}
.innerscreen {
    width: 61.2%;
    position: absolute;
    top: 11.2%;
    left: 31.4%;
}
.utilities {
    margin-bottom: 35px;
}
.bx1ico_txt {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 9px;
    padding-bottom: 17px;
}
.col-md-8 ul li {
    list-style: none;
    float: left;
    margin: 5px;
    padding: 10px;
    background: #f0f4f7;
    border-radius: 3px;
    text-align: center;
    height: auto;
}
.col-md-8 ul {
    padding: 0;
    margin: 0;
}
.download {
    background: #eaeaea url(https://static.zalopay.com.vn/stc/quydinh/ver200723/images/bgappload.jpg)top center no-repeat;
    background-size: cover;
}
.box-qr {
    margin: auto;
    width: 45%;
    display: flex;
}
h3 {
    font-size: 20px!important;
    text-transform: uppercase;
    color: #24272b!important;
    margin-top: 20px!important;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding: 15px 0 20px 0;
}
ul {
    padding: 0;
}
ol {
    padding: 0;
}
.logo-faq {
    float: left;
    margin-right: 13px;
}
.list li {
    list-style-type: lower-alpha;
    font-size: 16px;
    margin: 0 0 10px 16px;
}
.list li a {
    color: #000000;
    width: 100%;
}
.feedback {
    background: url(https://static.zalopay.com.vn/stc/quydinh/ver200723/images/contact-bg.jpg) fixed top center;
    background-size: cover;
    color: #fff;
}
.ad-sp {
    text-align: center;
}
.ad-sp svg {
    margin-right: 10px;
}
.mag-bot {
    margin-bottom: 28px;
}
label {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.label-input {
    display: block;
    background: transparent;
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    padding: 6px 12px 6px 12px;
}
.capcha img {
    width: 100%;
    height: 68px;
}
.submit {
    text-align: center;
    margin-bottom: 30px;
}
.submit button {
    padding: 13px 70px 13px 70px;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 5px;
    border: 0;
    background: #008fe5;
    color: #fff;
    border-radius: 4px;
}
.footer {
    padding: 30px 0 15px 0;
    background-color: #24272b;
    width: 100%;
    float: left;
}
.copyright {
    line-height: 23px;
}
.sprt_ico {
    background: url(https://static.zalopay.com.vn/stc/quydinh/ver200723/images/imgsprt.png);
    background-repeat: no-repeat;
}
.lgzion {
    width: 117px;
    height: 47px;
    background-position: -212px -467px;
    float: left;
}
.zion {
    color: #acb3ba !important;
    margin-left: 147px;
    font-size: 14px;
}
.bxr {
    text-align: right;
    color: #acb3ba;
    margin-bottom: 7px;
    font-size: 14px;
}
.bxr span a img {
    margin-right: 16px;
}
.bxr span a {
    color: #acb3ba;
}
.bxr span a:hover {
    color: #008fe5;
}